
<section class="page-content--section_about">
    <div class="about-item">
        @@include("./item-header.html", {
            "title": "Mod Minutes",
            "company": "Disney Interactive",
            "year": "2013",
            "tech": "HTML, SCSS, JavaScript"
        })

        <p>While working as a producer for Disney Interactive, I was asked to build an internal time-tracking web application for the content moderation team. The goal was to help manage the many IP's needing dedicated moderation time.</p>
    </div>
</section>

<div class="thumbnails">
    <div class="thumbnails--wrapper">
        <h3 class="thumbnails--title">Screenshots</h3>
        <ul class="thumbnails--list">
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/mm_playing.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/mm_overlay.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/mm_stats.png">
            </li>
        </ul>
    </div>
</div>
