
<section class="page-content--section_about">
    <div class="about-item">

        @@include("./item-header.html", {
            "title": "Multi-Broker Aggregation API",
            "company": "TradeIt, Inc",
            "year": "2015-current",
            "tech": "Java, Groovy/Grails, Spring Authentication, Maven, SQL, Linux, Docker"
        })

        <p>The TradeIt product lets app developers, publishers, and ETF companies integrate any major US retail broker’s functionality into any app, site, or platform.</p>
        <p>I helped build and maintain a java-based web API that connects with most major US retail brokers to handle authentication, order management and portfolio management.</p>
        <p>You can read about the API on their <a href="https://www.trade.it/documentation/api">documentation page</a></p>
    </div>
</section>
