
<section class="page-content--section_about">
    <div class="about-item">
        @@include("./item-header.html", {
            "title": "Christy McMahon Photographer Site",
            "company": "Studio Luminoso Photography",
            "year": "2012",
            "tech": "HTML, SCSS, JavaScript, PHP/Wordpress"
        })

        <p>Christy McMahon is a wedding photographer based in Philadelphia, PA. I designed and built her Wordpress site.</p>
    </div>
</section>

<div class="thumbnails">
    <div class="thumbnails--wrapper">
        <h3 class="thumbnails--title">Screenshots</h3>
        <ul class="thumbnails--list">
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/christy_home.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/christy_weddings.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/christy_pricing.png">
            </li>
        </ul>
    </div>
</div>
