
<section class="page-content--section_about">
    <div class="about-item">
        @@include("./item-header.html", {
            "title": "TradeIt Marketing Site",
            "company": "TradeIt, Inc",
            "year": "2015-current",
            "tech": "HTML, SCSS, JavaScript, NodeJS, Handlebars, Grunt, FlightplanJS"
        })

        <p>Though TradeIt's main product is an API and SDK, I was responsible for building and maintaining their public site.</p>
    </div>
</section>

<div class="thumbnails">
    <div class="thumbnails--wrapper">
        <h3 class="thumbnails--title">Screenshots</h3>
        <ul class="thumbnails--list">
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/tradeit_home.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/tradeit_influencers.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/tradeit_api.png">
            </li>
        </ul>
    </div>
</div>
