
<section class="page-content--section_about">
    <div class="about-item">

        @@include("./item-header.html", {
            "title": "Kapitall - Match It Up",
            "company": "Kapitall, Inc",
            "year": "2015",
            "tech": "HTML, SCSS, JavaScript, Cordova"
        })

        <p>I helped Kapitall create an iOS stock-themed game called Match It Up. Built on Cordova, the app uses web technologies to create a native experience.</p>
    </div>
</section>

<div class="thumbnails">
    <div class="thumbnails--wrapper">
        <h3 class="thumbnails--title">Screenshots</h3>

        <ul class="thumbnails--list">
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/mu_start.jpeg">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/mu_gameplay.jpeg">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/mu_end.jpeg">
            </li>
        </ul>
    </div>
</div>
