
<section class="page-content--section_about">
    <div class="about-item">

        @@include("./item-header.html", {
            "title": "Client Trading iOS Library",
            "company": "TradeIt, Inc",
            "year": "2015-current",
            "tech": "Objective C, CocoaPods"
        })

        <p>I built and maintained TradeIt's iOS SDK, which allows publishers to integrate order and portfolio management functionality directly into their app with only a few lines of code.</p>
        <p>The SDK is currently integrated into several apps, including <a target="_blank" href="https://rubicoin.com/">Rubicoin</a>, <a target="_blank" href="https://itunes.apple.com/us/app/stock-master-stocks-market/id591644846">StockMaster</a>, and <a target="_blank" href="https://itunes.apple.com/us/app/stocks-live-portfolio-manager/id473206441">StocksLive</a>.</p>
        <p>The library is now open source. To see the code, click <a href="https://github.com/tradingticket/TradeItIosTicketSDK">here</a></p>
    </div>
</section>

<div class="thumbnails">
    <div class="thumbnails--wrapper">
        <h3 class="thumbnails--title">Screenshots</h3>
        <ul class="thumbnails--list">
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/sdk_bs.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/sdk_portfolio.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/sdk_trade.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/sdk_review.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/sdk_bc.png">
            </li>
        </ul>
    </div>
</div>
