
<section class="page-content--section_about">
    <div class="about-item">

        @@include("./item-header.html", {
            "title": "Kapitall Web App",
            "company": "Kapitall, Inc",
            "year": "2014-2015",
            "tech": "HTML, SCSS, JavaScript, Grunt, Java, Groovy/Grails, Maven, SQL"
        })

        <p>Kapitall is a web application aiming to gamify the stock market through a suite of user-friendly tools.</p>
        <p>I helped build and maintain all aspects of the application, from the front to the back.</p>
    </div>
</section>

<div class="thumbnails">
    <div class="thumbnails--wrapper">
        <h3 class="thumbnails--title">Screenshots</h3>

        <ul class="thumbnails--list">
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/kapitall_home.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/kapitall_home_promo.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/kapitall_app.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/kapitall_comparator.jpg">
            </li>
        </ul>
    </div>
</div>
