
<section class="page-content--section_about">
    <div class="about-item">

        @@include("./item-header.html", {
            "title": "Web Trading Ticket",
            "company": "TradeIt, Inc",
            "year": "2015-current",
            "tech": "HTML, SCSS, JavaScript, CoffeeScript, Grunt, FlightplanJS"
        })

        <p>In addition to providing an API, TradeIt allows publishers to integrate order and portfolio management functionality directly onto their site using pre-built widgets.</p>
        <p>I helped build and maintain both the widgets and the client library used to connect to the TradeIt API.</p>
    </div>
</section>

<div class="thumbnails">
    <div class="thumbnails--wrapper">
        <h3 class="thumbnails--title">Screenshots</h3>
        <ul class="thumbnails--list">
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/ticket_mobile.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/ticket_dividend.png">
            </li>
            <li class="thumbnails--item">
                <img class="thumbnails--image" src="./img/work/ticket_bloom.png">
            </li>
        </ul>
    </div>
</div>
