    <footer class="footer-home">
        <ul>
            <li><a href="https://www.linkedin.com/in/vaughndaniel" target="_blank">linkedin</a></li>
            <li><a href="https://github.com/danielvaughn/" target="_blank">github</a></li>
            <li><a href="https://twitter.com/danielvaughn" target="_blank">twitter</a></li>
            <li><a href="http://codepen.io/danielvaughn" target="_blank">codepen</a></li>
        </ul>
        <small>© Daniel Vaughn 2013</small>
    </footer>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-43339231-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
    <!-- <script src="js/modernizr.js"></script> -->
    <!-- <script src='js/jquery.mixitup.min.js'></script> -->
    <script src="js/vendor/baseliner.js"></script>
    <script src="js/index.js"></script>
</body>

</html>