
<section class="page-content--section_about">

    <div class="page-content--item">
        <h1 class="page-content--item-header">
            Multi-Broker Aggregation API
            <span>TradeIt, Inc</span>
        </h1>

        <p>The TradeIt product lets app developers, publishers, and ETF companies integrate any major US retail broker’s functionality into any app, site, or platform.</p>
        <p>I helped build and maintain a java-based web API that connects with most major US retail brokers to handle authentication, order management and portfolio management.</p>
        <p>You can read about the API on their <a href="https://www.trade.it/documentation/api">documentation page</a></p>

    </div>

</section>

<div class="thumbnails">
    <h3>Screenshots</h3>

    <ul>
        <li>
            <img src="./img/work/mm.png">
        </li>
        <li>
            <img src="./img/work/mm_overlay.png">
        </li>
        <li>
            <img src="./img/work/mm_playing.png">
        </li>
        <li>
            <img src="./img/work/mm_stats.png">
        </li>
    </ul>
</div>
