@import "helper";


/***
    CONTENT
***/

.page-content--section_work { background-color: #1e1e1e; }

.filter-list-header {
    width: 100%;
    max-width: $desktop_width;
    margin: $vertical_one auto ($vertical_one / 2);
}

.filter-list-header--item {
    display: inline-block;
    color: $medium_gray;
    cursor: pointer;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover { color: $daniel_orange; }

    &:after { content: " /"; }

    &:last-of-type:after { content: ""; }

    &:hover:after { color: $medium_gray; }
}

.filter-list-content {
    font-size: .1px;
    width: 100%;
    max-width: $desktop_width;
    margin: 0 auto;

    .mix {
        opacity: 0;
        display: none;
        width: 50%;
        border: 1px solid #323232;
        position: relative;

        a {
            display: block;
            overflow: hidden;
            -webkit-transition: all 250ms ease-in-out;
            -moz-transition: all 250ms ease-in-out;
            -ms-transition: all 250ms ease-in-out;
            -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
            opacity: .65;

            &:hover { opacity: 1; }

            img { width: 100% }
        }
    }
}

@media (min-width:$tablet_width) {
    .content-home {
        p.content-description {
            padding: $vertical_three 33px;
            line-height: $vertical_two;
        }
    }

    .work { padding: $vertical_one 0px; }

    .filter-list-header { line-height: $vertical_two; }


}

@media (min-width:$desktop_width) {

    .content-home {
        p.content-description { padding: ($vertical_one * 5) $desktop_horizontal_padding; }
    }

    // .work { padding: 2.25em 0; }

    .filter-list-header {
        padding-left: $desktop_horizontal_padding;
    }

    .filter-list-content {
        padding: 0px $desktop_horizontal_padding;

        .mix { width: 33.333%; }
    }
}
