@import "helper";


/***
    CONTENT
***/

.filter-list-header {
    width: 100%;
    max-width: $desktop_width;
    margin: $vertical_one auto ($vertical_one / 2);
}

.filter-list-header--item {
    display: inline-block;
    color: $medium_gray;
    cursor: pointer;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    &:hover { color: $daniel_orange; }

    &:after { content: " /"; }

    &:last-of-type:after { content: ""; }

    &:hover:after { color: $medium_gray; }
}

.filter-list-content {
    font-size: .1px;
    width: 100%;
    max-width: $desktop_width;
    margin: 0 auto;

    .mix {
        display: none;
        width: 50%;
        border: 1px solid #323232;
        position: relative;

        a {
            display: block;
            overflow: hidden;
            -webkit-transition: all 250ms ease-in-out;
            -moz-transition: all 250ms ease-in-out;
            -ms-transition: all 250ms ease-in-out;
            -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
            opacity: .65;

            &:hover { opacity: 1; }

            img { width: 100% }
        }
    }
}

#creative-work { min-height: 600px; }


.page-content--section_skills {
    background-color: #1e1e1e;

    .content-header { margin-bottom: $vertical_three; }

    .content-header--title {
        color: $light_gray;
        margin-bottom: 10px;
    }

    .content-header--summary {
        color: $medium_gray;
        padding: 6px 0px $vertical_one;
        border-bottom: 1px solid mix($daniel_orange, #1e1e1e);
    }
}

.skill-container {
    margin: 0px auto;
}

.skill {
    color: $medium_gray;
    float: left;
    margin-bottom: $vertical_two;
    text-align: center;

    .skill--icon {
        height: $vertical_two;
        margin-bottom: 5px;
    }

    .skill--title {
        color: $light_gray;
        text-align: left;

        span {
            color: $medium_gray;
            font-weight: 600;
            font-size: $base_font_size;
            font-style: italic;
            margin-left: $base_font_size;
        }
    }

    .skill--summary { text-align: left; }
}

@media (min-width:$tablet_width) {
    .filter-list-header { line-height: $vertical_two; }

    .skill .skill--icon {
        height: $vertical_three;
    }
}

@media (min-width:$desktop_width) {
    .filter-list-header { padding-left: $desktop_horizontal_padding; }

    .filter-list-content {
        padding: 0px $desktop_horizontal_padding;

        .mix { width: 33.333%; }
    }

    .skill-container { padding: 0px $desktop_horizontal_padding; }

    .skill {
        margin-bottom: $vertical_two;
        min-height: 300px;
    }
}
