@import "helper";


/***
    CONTENT
***/

.content-work {
    max-width: $desktop_width;
    padding-left: 20px;
    padding-right: 20px;

    div { margin-bottom: 0.25em; }

    h3 {
        font-weight: 400;
        color: $medium_gray;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    nav {
        margin-top: 0;
        margin-bottom: 5px;
    }

    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a {
        @extend %link;
    }

    nav a {
        display: block;

        &:hover { color: $daniel_orange_light; }
    }
}

.gallery-row { margin: $vertical_one auto; }


/***
    MISC
***/

img.half { width: 45%; }

.group img {
    display: block;
    float: left;
    width: auto;
    max-width: 100%;
    margin-right: .25em;
    border: 1px solid #ddd;
}


/***
    TABLET SIZE
***/

@media (min-width:$tablet_width) {

    .content-work { padding-top: 350px; }

    .content-work p {
        padding-top: 20px;

        p:last-of-type { padding-bottom: 30px; }
    }

    .gallery-row { margin-top: $vertical_two; }
}


/***
    DESKTOP SIZES
***/

@media (min-width:$desktop_width) {

    .content-work {
        padding-left: $vertical_two;
        padding-right: $vertical_two;

        p {
            margin-top: $vertical_two;
            margin-bottom: $vertical_two;
            padding-top: 0px;
            padding-bottom: 0px;

            &:first-of-type { margin-top: 88px; }
        }

        h3 {
            margin-top: 88px;
            margin-bottom: 10px;
        }
    }

    .group img { margin-right: 0.25em; }

    .gallery-row { padding: 0px $desktop_horizontal_padding; }
}